body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #a9e3f1;
  color: white;
}

a {
  color: #002731;
}

footer {
  background-color: #5e919d;
  font-size: 13px;
  box-shadow: 3px 3px 10px 1px rgb(0 0 255 / 0.2);
  color: rgba(255, 255, 255, 0.8);
}

/* Containers */
.container {
  border-radius: 20px;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow: 3px 3px 10px 1px rgb(0 0 255 / 0.2);
}

.form-container {
  background-color: #5e919d;
  margin-bottom: 15px;
}

.main-container {
  background-color: #5e919d;
  margin-bottom: 15px;
}

/* Form */
#search-bar {
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

#search-button {
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  background-color: white;
}

/* Main display */
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column {
  align-content: center;
}

#city {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
}

#day-and-time {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #073f4d;
}

#weather-icon {
  font-size: 80px;
}

#status {
  font-size: 18px;
  margin-bottom: 3px;
}

/* #humidity {
} */

#wind {
  margin-left: 5px;
}

#temperature {
  font-size: 80px;
}

.large-unit {
  font-size: 40px;
  position: absolute;
  margin-top: 15px;
  font-weight: 500;
}

#temp-range {
  font-size: 18px;
  margin-top: 13px;
}

.small-unit {
  font-size: 12px;
  position: absolute;
  margin-top: 1px;
}

#high-temp {
  margin-left: 8px;
}

#low-temp {
  margin-right: 12px;
}

/* styles */
strong {
  font-weight: 500;
  color: #073f4d;
}
