body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #a9e3f1;
  color: white;
}

a {
  color: #002731;
}

footer {
  background-color: #5e919d;
  font-size: 13px;
  box-shadow: 3px 3px 10px 1px rgb(0 0 255 / 0.2);
  color: rgba(255, 255, 255, 0.8);
}

/* Containers */
.container {
  border-radius: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow: 3px 3px 10px 1px rgb(0 0 255 / 0.2);
}

.form-container {
  background-color: #5e919d;
  margin-bottom: 15px;
}

.main-container {
  background-color: #5e919d;
  margin-bottom: 15px;
}

/* Form */
#search-bar {
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

#search-button {
  width: 20%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  background-color: white;
}

/* Main display */
.header-grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.column {
  align-content: center;
  min-height: 100px;
  height: auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.main-column {
  align-content: center;
}

#city {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-size: 20px;
  margin: 0px;
  font-weight: 400;
  color: #073f4d;
}

#weather-icon {
  font-size: 80px;
}

#day-and-time {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.temperature {
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.large-unit {
  font-size: 40px;
  margin-top: 15px;
  font-weight: 500;
}

#status {
  font-size: 18px;
  margin-bottom: 10px;
}

/* styles */
strong {
  font-weight: 500;
  color: #073f4d;
}
