body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #a9e3f1;
  color: white;
  max-width: 700px;
  margin: 45px auto;
}

.container {
  border-radius: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow: 3px 3px 10px 1px rgb(0 0 255 / 0.2);
}

.main-container {
  background-color: #5e919d;
  margin-bottom: 15px;
}
